node_modules
.DS_Store
dev.ts
.env
deploy.sh
logs
ecosystem.config.js

# Build files
packages/server/public/styles.css
packages/server/public/scripts
packages/reusable/dist
packages/common/dist
packages/server/dist