dev.ts
ecosystem.config.js

node_modules
.DS_Store
.env
deploy.sh
logs

# Build files
packages/server/public/styles.css
packages/server/public/styles.css.map
packages/server/public/scripts
packages/reusable/dist
packages/common/dist
packages/server/dist