.button {
  border: none;
  line-height: 0;
  border-radius: 7px;
  padding: 1.9rem 2rem;
  font-size: 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  height: 1px;
  display: flex;
  align-items: center;
  font-family: inherit;
  width: max-content;

  &:hover {
    color: inherit;
  }

  &-rounded {
    border-radius: 500px !important;
  }

  &-block {
    width: 100%;
  }

  &__icon-left {
    margin-right: 0.5rem;
  }

  &__icon-right {
    margin-left: 0.5rem;
  }
}

.button-icon {
  padding-top: 1rem;
  padding-bottom: 1rem;

  & .button__icon {
    width: 2rem;
    margin-right: 0.4rem;

    img {
      color: red;
    }
  }
}

.button-blue {
  background: $color-blue;
  color: #fff;
  border: 1px solid $color-blue;

  &:hover {
    background-color: darken($color-blue, 8%);
    border-color: darken($color-blue, 8%);
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-blue, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    background: #ebebe4;
    border-color: #ccc;
    color: #757575;

    &:hover {
      background: #ebebe4;
      border-color: #ccc;
      color: #757575;
    }
  }

  &-outlined {
    background-color: transparent;
    color: $color-blue;
    border: 1px solid $color-blue;

    &:hover,
    &:active {
      background-color: $color-blue;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-blue, 0.3);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: lighten($color-blue, 20%);
      background-color: #fff;
      color: lighten($color-blue, 20%);

      &:hover {
        border-color: lighten($color-blue, 20%);
      }
    }
  }
}

.button-red {
  background: $color-red;
  color: #fff;
  border: 1px solid $color-red;

  &:hover {
    background-color: darken($color-red, 8%);
    border-color: darken($color-red, 8%);
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-red, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    background: #ebebe4;
    border-color: #ccc;
    color: #757575;

    &:hover {
      background: #ebebe4;
      border-color: #ccc;
      color: #757575;
    }
  }

  &-outlined {
    background-color: transparent;
    color: $color-red;
    border: 1px solid $color-red;

    &:hover,
    &:active {
      background-color: $color-red;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-red, 0.3);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: lighten($color-red, 20%);
      background-color: #fff;
      color: lighten($color-red, 20%);

      &:hover {
        border-color: lighten($color-red, 20%);
      }
    }
  }
}

.button-big {
  padding: 2.5rem 2.8rem;
  font-size: 1.8rem;
}

.button-small {
  padding: 1.6rem 1.4rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

// Button Icon
.button-icon {
  border: none;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 500px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background: #e4e3e3;
}

.button-icon:hover,
.button-icon:focus {
  background: #dcdbdb;
  outline: none;
}

.button-icon:focus {
  box-shadow: 0 0 0 3px rgba($color-text, 0.3);
}

.button-icon--default {
  color: $color-text;
}

.button-icon--red {
  color: $color-red;
}

.button-icon--green {
  color: $color-green;
}

.button-icon--blue {
  color: $color-blue;
}

// Google Signin button
.button-google-signin {
  background: #d73d32;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 26rem;
  height: 5rem;
  margin: 3rem auto 0 auto;
}

.button-google-signin img {
  width: 3rem;
  margin-right: 1rem;
}

.button-google-signin:hover,
.button-google-signin:focus {
  background: #c2362c;
  text-decoration: none;
}
