.customization {
  &__header {
    text-align: left;
    margin: 0rem 0 0.6rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #64748b;
    opacity: 0.8;
  }
}

.customization-option {
  border-radius: 1.5rem;
  border: 1px solid #e0dfdf;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.3rem;

  &:last-child {
    margin-bottom: 0;
  }

  // The option that is selected
  &--selected {
    background-color: #f0efef;
    margin-bottom: 3.5rem;
    box-shadow: none;

    .customization-option__validity {
      background-color: #9e9a9a;
    }

    .customization-option__message {
      background-color: $color-blue;
    }
  }

  // Any option that's disabled
  &--disabled {
    background-color: #f0efef;
    margin-bottom: 4rem;
    box-shadow: none;

    .customization-option__validity {
      background-color: #9e9a9a;
    }

    .customization-option__message {
      background-color: $color-red;
    }
  }

  &__message {
    margin-top: 1rem;
    color: #fff;
    border-radius: 10rem;
    display: inline-block;
    padding: 0.3rem 1.8rem;
  }

  &__regenerate {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  &__header {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid #e0dfdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    padding: 1rem 2rem;
  }

  &__example {
    font-style: italic;
    font-weight: 300;
  }

  &__description {
    margin-top: 0.5rem;
  }

  ul {
    margin-top: 0.5rem;
    list-style-position: outside;
    padding-left: 1.2rem;
  }

  &__validity {
    color: #fff;
    border-radius: 10rem;
    background-color: $color-green;
    display: inline-block;
    padding: 0rem 1.8rem;
  }

  &__action {
  }

  &__preview {
    margin-top: 0.8rem;
    margin-left: 0.3rem;
  }
}
