.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #f1efef;
  font-size: 1.6rem;
  margin: 4rem auto 0 auto;
  border-radius: 7px;
  width: 75rem;
  padding: 1.6rem 3rem;
  position: relative;

  &__real .tooltip .tooltip__text {
    margin-bottom: 0;
  }

  &__real {
    flex-basis: 35%;
  }

  @media only screen and (max-width: 700px) {
    width: 90%;
  }

  @media only screen and (max-width: 650px) {
    width: 80%;
    flex-direction: column;
  }

  @media only screen and (max-width: 420px) {
    width: 100%;
    // padding: 1.2rem 1.5rem;
  }

  &--on-list {
    margin: 2.5rem auto 0 auto;
    // padding: 1.6rem 3rem;

    @media only screen and (max-width: 420px) {
      // padding: 1.2rem 1.5rem;
    }
  }
}

// .link__code-actions {
//   display: flex;
//   align-content: center;
//   justify-content: center;

//   @media only screen and (max-width: 650px) {
//     margin-top: 0.5rem;
//   }

//   @media only screen and (max-width: 340px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;

//     a {
//       margin-bottom: 0.5rem;
//     }
//   }

//   a {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
//     color: #234ebd;
//   }

//   a:hover {
//     text-decoration: underline;
//   }
// }

.link__shortened-link {
  margin-right: auto;
  margin-left: 2rem;

  &--expired {
    font-style: italic;
  }
}

.link__actions {
  display: flex;
}

.link__message {
  flex-basis: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  // transform: translateX(-50%);
  width: 100%;

  span {
    border-radius: 500px;
    padding: 0.5rem 2rem;
  }

  &--green {
    span {
      background-color: $color-green;
    }
  }

  &--red {
    span {
      background-color: $color-red;
    }
  }
}

.link__copy {
  margin-left: 2rem;

  &--disabled {
    .tooltip__text {
      width: 15rem;
    }
  }
}

.link__customize {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 15rem;
  }
}

.link__views {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 9rem;
  }
}

.link__edit {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 8rem;
  }
}

.link__qrcode {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 12rem;
  }
}

.link__delete {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 10rem;
  }
}
