.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1efef;
  font-size: 1.6rem;
  margin: 4rem auto 0 auto;
  border-radius: 8px;
  width: 75rem;
  padding: 1.8rem 3rem;
  position: relative;

  &:has(.link__message) {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  &__real {
    flex: 0 0 38%;
    margin-right: 2%;

    text-overflow: ellipsis;
    white-space: nowrap;

    .tooltip .tooltip__text {
      margin-bottom: 0 !important;
    }
  }

  &__shortened-link {
    flex-basis: 20%;
    justify-content: start;
    display: flex;

    .link__shortened-link--expired {
      font-style: italic;
    }
  }

  &__actions {
    flex-basis: 38%;
    margin-left: 2%;

    display: flex;
    justify-content: end;
  }

  &--on-list {
    margin: 2.8rem auto 0 auto;
  }

  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    margin-top: 4rem;
    padding: 2rem 2rem;
    width: 80%;

    &__shortened-link {
      margin: 0.7rem 0 0.7rem 0 !important;
      width: 100% !important;
      justify-content: center;
      text-align: center;
    }

    &__action {
      margin: 0 0.7rem !important;
    }
  }

  @media only screen and (max-width: 420px) {
    width: 100%;

    &:has(.link__message) {
      padding-bottom: 3rem;
    }
  }
}

.link__message {
  flex-basis: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;

  span {
    border-radius: 500px;
    padding: 0.5rem 2rem;
    display: inline-block;
  }

  &--green {
    span {
      background-color: $color-green;
    }
  }

  &--red {
    span {
      background-color: $color-red;
    }
  }
}

// Buttons:

.link__copy {
  margin-left: 2rem;

  &--disabled {
    .tooltip__text {
      width: 15rem;
    }
  }
}

.link__customize {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 15rem;
  }
}

.link__views {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 9rem;
  }
}

.link__edit {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 8rem;
  }
}

.link__qrcode {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 12rem;
  }
}

.link__delete {
  margin-left: 0.5rem;

  .tooltip__text {
    width: 10rem;
  }
}
