// Anything related to QR code modal

.qr__message {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 3rem;
  text-align: center;
}

.qr__download {
  margin-bottom: 4rem;
  margin-top: 3rem;
}
