.footer {
  background-color: #f0f0f1;
  border-top: 1px solid #ebebec;
  padding: 1rem 8rem;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  font-size: 1.4rem;

  @media only screen and (max-width: 700px) {
    padding: 1rem 4rem;
  }

  &__text {
    padding: 1.5rem 0rem;
    color: #7a7a7b;
  }

  &__bottom {
    border-top: 1px solid #d4d2d2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
  }

  &__copyright {
    font-size: 1.4rem;
    color: #7a7a7b;
    display: inline-block;
  }

  &__links {
    display: flex;
    margin-left: auto;
  }

  &__link {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.2rem;
    transition: all 0.2s;
    display: flex;

    &:hover {
      opacity: 0.7;
    }
  }
}
