.footer {
  background-color: #3e3d3d;
  padding: 1rem 8rem;
  display: flex;
  margin-top: 15rem;
  flex-direction: column;
  font-size: 1.4rem;
  color: #fff;

  @media only screen and (max-width: 700px) {
    padding: 1rem 4rem;
  }

  &__text {
    padding: 1.5rem 0rem;
    color: #aeadad;
  }

  &__bottom {
    border-top: 2px solid #555555;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
  }

  &__copyright {
    font-size: 1.4rem;
    color: #efeeee;
    display: inline-block;
  }

  &__links {
    display: flex;
    margin-left: auto;
  }

  &__link {
    width: 3.2rem;
    margin-left: 1.2rem;
    transition: all 0.2s;
    display: flex;

    &:hover {
      opacity: 0.7;
    }
  }
}
