$color-text: #555;
$color-white: #fff;

$color-red: #c0392b;
$color-red-dark: #c0392b;

$color-green: #35b46b;

$color-blue: #1778d0;
$color-blue-dark: #236d9d;

$color-default: #3c3c72;

$color-grey-light-3: #dbe2e8;

$default-font-size: 1.6rem;
