// lds-ellipsis ones are for the loading icon
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(9px, 0);
  }
}

// Scale an element in
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Scale the dropdown buttons in
@keyframes scaleInDropdowns {
  from {
    opacity: 0;
    transform: translateX(50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(50%) scale(1);
  }
}

// Scale the mini dropdown buttons in
@keyframes scaleInMiniDropdowns {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes custom-select {
  from {
    opacity: 0.3;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
