*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;

  @media only screen and (max-width: 1200px) {
    font-size: 9px; //1rem = 9px
  }

  @media only screen and (max-width: 900px) {
    font-size: 8px; //1rem = 8px
  }
}

body {
  font-display: fallback;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
  position: relative;
  background: #f9f9f9;
  padding-top: 5rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.heading-primary {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  font-weight: 300;
}

a {
  color: $color-blue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

img {
  max-width: 100%;
}

.section {
  background: #fff;
  border-radius: 10px;
  max-width: 100rem;
  padding: 2.5rem 2rem 4.5rem 2rem;
  margin: 4rem auto;
  border: 1px solid #d0d9e1;
  box-shadow: 6px 7px 30px 7px rgba(116, 123, 129, 0.14);

  @media only screen and (max-width: 820px) {
    max-width: 95%;
  }
}

.section--2 {
  padding: 4rem 7rem 4.5rem 7rem;
  margin-bottom: 8rem;

  @media only screen and (max-width: 770px) {
    padding: 3rem 4rem 3.5rem 4rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 3rem 2.5rem 3.5rem 2.5rem;
  }
}

// So that we have use <button> and get the same styles as <a>
.button-reset {
  all: unset;
  cursor: pointer;
  display: inline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
