// you agree to Privacy Policy and Terms of Use message
.a-1 {
  font-size: 1.4rem;
  padding-top: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.a-2 {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
}

// strong element for showing real URL in confirm modal
.a-4 {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}
