.display-none {
  display: none !important;
}

.text-center {
  text-align: center;
  align-items: flex-start;
}

.margin-top-md {
  margin-top: 2rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-display-none {
  display: none !important;
}

.u-flex-text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-flex-text-right {
  display: flex;
  justify-content: right;
}
